* {
    background-color: black;
    color: white;
    margin: 20px;
}

h1, button, h2, h3, h4, div, #smaller-text, #main-theory {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#out-line {
    outline-color: black;
}

#main-theory {
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#position0 {
    position:absolute;
    bottom:0;
    right:0;
}

#position2 {
    position:absolute;
    top:0;
    right:0;
}

#position1 {
    position:absolute;
    bottom:0;
    left:0;
}

#smaller {
    transform: scale(0.5);
}

#luck1000000 {
    margin: 0;
    
}

#genTheory {
    cursor: pointer;
    margin: auto;
}
